{% extends 'app/base.html' %}
{% load static %}

{% block title %}Password Reset Complete{% endblock title %}

{% block main-content %}
<div class="container text-center">
  <div class="row my-5">
    <div class="col-sm-6 offset-sm-3">
      <h3 class="mb-4 text-success">🎉 Password Reset Complete!</h3>
      <p class="mb-4">Your password has been successfully reset. You can now log in with your new password.</p>
      <div class="mb-4">
        <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtK" width="200" height="200" frameborder="0"
        class="giphy-embed" allowfullscreen></iframe>
      </div>
      <a href="{% url 'login' %}" class="btn btn-primary">Go to Login</a>
    </div>
  </div>
</div>
{% endblock main-content %}
