{% extends 'app/base.html' %}
{% load static %}

{% block title %}Password Reset Done{% endblock title %}

{% block main-content %}
<div class="container">
  <div class="row my-3">
    <div class="col-sm-6 offset-sm-3">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>An email has been sent with instructions to reset your password. <b>Check your email!</b></p>
        <hr>
        <a href="{% url 'login' %}" class="btn btn-outline-primary btn-sm">Back to Login</a>
      </div>
    </div>
  </div>
</div>
{% endblock main-content %}
